In [1]:
#impoting the libaries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Here we load the dataset from the insurance.csv file
dataset = pd.read_csv("insurance.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#pandas.get_dummies() is used for data manipulation. It converts categorical data into dummy or indicator variables.
#drop_first=True - Remove first level to get n-1 dummies out of n categorical level
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
# it returns the column labels of the dataset
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#Split the inputs
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
#Split the output
dependent=dataset[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['squared_error','friedman_mse','absolute_error','poisson'],
               'max_features':['auto','sqrt','log2'],'splitter':['best','random']}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose=3, n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [9]:
#print the best parameter after tunning
re = grid.cv_results_
print("R score value for best parameter {}:".format(grid.best_params_))

R score value for best parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'splitter': 'best'}:

In [10]:
table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015622,9.464947e-07,0.000000,0.000000e+00,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",0.721034,0.609674,0.728883,0.698592,0.678568,0.687350,0.042654,7
1,0.053317,9.127796e-02,0.006250,7.654305e-03,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",0.656005,0.623053,0.697219,0.665120,0.675446,0.663369,0.024390,13
2,0.006248,7.652787e-03,0.009373,7.653176e-03,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.772337,0.687363,0.761547,0.735384,0.781240,0.747574,0.033811,1
3,0.000000,0.000000e+00,0.015623,7.448435e-07,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.688101,0.575555,0.529219,0.687678,0.660152,0.628141,0.064367,19
4,0.012497,1.169008e-02,0.006249,7.652903e-03,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.657140,0.328256,0.744588,0.625053,0.737855,0.618578,0.152264,21
5,0.003124,6.248474e-03,0.012497,6.248522e-03,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.676487,0.558988,0.635593,0.699067,0.732004,0.660428,0.059634,14
6,0.006249,7.653254e-03,0.009373,7.653293e-03,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.711312,0.652715,0.733786,0.745964,0.691831,0.707121,0.032958,4
7,0.009373,7.652787e-03,0.006250,7.654247e-03,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.658400,0.548618,0.711130,0.719795,0.699973,0.667583,0.063101,11
8,0.009374,7.653526e-03,0.009373,7.653137e-03,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.706115,0.667815,0.553379,0.744395,0.725138,0.679369,0.067890,9
9,0.006249,7.653371e-03,0.009374,7.654149e-03,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.622117,0.580069,0.729557,0.738151,0.583955,0.650770,0.069465,16
10,0.003125,6.249809e-03,0.012499,6.249475e-03,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.601996,0.619327,0.764152,0.735164,0.696989,0.683526,0.063430,8
11,0.003125,6.249046e-03,0.012499,6.249309e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.600303,0.568170,0.695782,0.643263,0.603242,0.622152,0.043854,20
12,0.099977,7.653079e-03,0.006249,7.653721e-03,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.736895,0.614202,0.725648,0.723337,0.743815,0.708779,0.047873,3
13,0.046864,3.124268e-02,0.024994,3.061120e-02,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.721474,0.600194,0.741876,0.751249,0.744093,0.711777,0.056662,2
14,0.031243,1.784161e-07,0.000000,0.000000e+00,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.696326,0.518934,0.687122,0.703107,0.718107,0.664719,0.073591,12
15,0.018747,6.247735e-03,0.009372,7.652553e-03,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.597119,0.464647,0.661827,0.481920,0.714359,0.583974,0.097865,23
16,0.031243,3.371748e-07,0.015621,3.124228e-02,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.707394,0.518164,0.703326,0.747860,0.705639,0.676477,0.080852,10
17,0.021872,7.652358e-03,0.021869,2.897294e-02,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.703610,0.515293,0.663101,0.668144,0.680550,0.646140,0.066902,17
18,0.015623,4.422006e-07,0.000000,0.000000e+00,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.690716,0.651818,0.730167,0.750949,0.669938,0.698718,0.036903,5
19,0.003125,6.249237e-03,0.012499,6.249666e-03,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.698045,0.462236,0.714414,0.710571,0.644598,0.645973,0.095215,18
20,0.003125,6.249619e-03,0.012499,6.249475e-03,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.648004,0.507504,0.611273,0.582412,0.533377,0.576514,0.050945,24
21,0.000000,0.000000e+00,0.024996,1.874435e-02,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.725968,0.533473,0.700197,0.660264,0.672740,0.658528,0.066526,15
22,0.009374,7.654227e-03,0.006250,7.654188e-03,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.656151,0.528801,0.676899,0.608675,0.615101,0.617126,0.050937,22
23,0.000000,0.000000e+00,0.012499,6.249404e-03,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.713588,0.631695,0.739710,0.707403,0.666525,0.691784,0.038118,6

In [12]:
age_input= float(input("Age:"))
bmi_input = float(input("BMI:"))
children_input = float(input("Children:"))
sex_male_input = int(input("Sex Male 0 or 1:"))
smoker_yes_input = int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [13]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future Prediction {}:".format(Future_Prediction))

Future Prediction [40932.4295]:

C:\Users\aravi\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"