In [1]:
#impoting the libaries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Here we load the dataset from the insurance.csv file
dataset = pd.read_csv("insurance.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
# it returns the column labels of the dataset
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#Split the inputs
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
#Split the output
dependent=dataset[["charges"]]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['squared_error','friedman_mse','absolute_error','poisson'],
               'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose=3, n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\aravi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
#print the best parameter after tunning
re = grid.cv_results_
print("R score value for best parameter {}:".format(grid.best_params_))

R score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.396557,0.393180,0.024995,3.506971e-02,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",0.829485,0.748389,0.841706,0.816077,0.819816,0.811095,0.032583,16
1,1.162766,0.052942,0.053650,3.079358e-02,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",0.851943,0.776021,0.855998,0.815808,0.836310,0.827216,0.029236,7
2,0.176457,0.052070,0.053861,3.241867e-02,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.832799,0.771726,0.843097,0.797560,0.822692,0.813575,0.025815,12
3,0.800520,0.068403,0.074982,2.499356e-02,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857908,0.776919,0.864426,0.830878,0.839929,0.834012,0.030985,3
4,0.169488,0.029592,0.040615,3.775013e-02,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.848639,0.768445,0.843778,0.811389,0.821563,0.818763,0.028679,10
5,0.828476,0.021335,0.034368,3.749094e-02,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.863500,0.776655,0.864579,0.827258,0.839710,0.834340,0.032160,2
6,0.191328,0.042040,0.000000,0.000000e+00,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.835967,0.755328,0.852138,0.811752,0.813801,0.813797,0.032816,11
7,1.089638,0.041185,0.072362,2.793898e-02,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.843952,0.770467,0.851051,0.817969,0.836915,0.824071,0.028978,8
8,0.150658,0.022424,0.028118,2.499349e-02,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.847583,0.733879,0.829147,0.815254,0.821220,0.809417,0.039307,18
9,1.335461,1.180793,0.083083,2.935610e-02,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855283,0.778183,0.859393,0.823490,0.843679,0.832005,0.029657,6
10,0.165588,0.018745,0.015621,6.975526e-07,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.832131,0.770791,0.840579,0.799638,0.818461,0.812320,0.024957,14
11,0.886356,0.026526,0.024995,7.652884e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.859428,0.781116,0.861467,0.828345,0.841845,0.834440,0.029293,1
12,0.836983,0.119096,0.034367,3.749110e-02,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",0.838629,0.759265,0.821598,0.819147,0.818595,0.811447,0.027112,15
13,8.014301,0.246031,0.074982,4.880230e-02,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",0.836432,0.772822,0.851598,0.821852,0.836325,0.823806,0.027173,9
14,0.531851,0.016501,0.024994,3.507025e-02,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.840463,0.772884,0.813124,0.823053,0.815294,0.812964,0.022225,13
15,4.563122,0.137640,0.052253,4.075303e-02,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.854164,0.783534,0.855099,0.830163,0.843122,0.833216,0.026433,4
16,0.579032,0.019839,0.009373,7.653098e-03,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.825557,0.754433,0.823809,0.824383,0.824865,0.810609,0.028094,17
17,4.675536,0.388539,0.074983,4.570359e-02,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.855554,0.777309,0.858209,0.829380,0.841199,0.832330,0.029407,5
18,0.396236,0.127791,0.003125,6.249046e-03,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.807208,0.745844,0.792729,0.800195,0.779273,0.785050,0.021679,22
19,2.108882,0.071244,0.068734,3.902153e-02,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.814615,0.754076,0.821586,0.831156,0.800523,0.804391,0.027067,19
20,0.206202,0.024995,0.040615,3.774965e-02,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.778057,0.706010,0.804247,0.770675,0.774259,0.766650,0.032542,24
21,1.525359,0.476845,0.085955,4.066211e-02,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.807923,0.732288,0.820643,0.794271,0.784261,0.787877,0.030396,20
22,0.227911,0.046679,0.036493,3.699302e-02,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.796630,0.717015,0.816365,0.771653,0.753094,0.770951,0.034497,23
23,1.148253,0.083138,0.065610,4.121085e-02,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.808364,0.715036,0.829408,0.797602,0.777722,0.785627,0.039046,21

In [14]:
age_input= float(input("Age:"))
bmi_input = float(input("BMI:"))
children_input = float(input("Children:"))
sex_male_input = int(input("Sex Male 0 or 1:"))
smoker_yes_input = int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:43
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future Prediction {}:".format(Future_Prediction))

Future Prediction [44114.8216937]:

C:\Users\aravi\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"